<div class="row m70">
    <div class="col-lg-12">
        <div class="panel">
            <div class="panel-heading"><h4><%= @admin.email %></h4></div>
            <div class="panel-body">
            </div>
        </div>
    </div>
</div>