<div class='row m70'>
    <%= react_component 'Job', { 
        url: "/#{@job.company.slug}/jobs/#{@job.slug}.json",
        companyUrl: company_path(@job.company),
        appliedAlready: current_user.applied?(@job),
        isApplicant: current_user.role != 'company_admin',
        savedAlready: current_user.saved?(@job),
        hasNotViewed: !current_user.has_viewed?(@job) && current_user.role == 'applicant',
        job: @job
        } 
    %>
</div>