<div class='row m70'>
    <div class='col-lg-6'>
        <div class='panel'>
            <div class='panel-heading'><h5>Total Subscriptions for today: <%= Date.today.strftime('%B %d, %Y')%></h5></div>
        </div>
    </div>
    <div class='col-lg-6'>
        <div class='panel'>
            <div class='panel-heading'><h5>Recent Activities</h5></div>
            <div class='panel-body>'>

            </div>
        </div>
    </div>
</div>