<div class='row m70'>
    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <div class='row m20'>
            <div class='col-lg-7 col-md-7 col-sm-7 col-xs-7'>
                <div class='panel'>
                    <div class='panel-heading ml15 mr15 with-border'>Number of Applications</div>
                    <div class='panel-body'>
                    </div>
                </div>
            </div>
    
            <div class='col-lg-5 col-md-5 col-sm-5 col-xs-5'>                
                <div class='panel'>
                <div class='panel-heading ml15 mr15 with-border'>To-do List</div>
                    <div class='panel-body'>
                        <li class='polished'>Company Profile
                            <p>
                                <%= react_component 'CompanyMissing' %>
                            </p>
                        </li>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>