<div class='row m70'>
    <div class='col-md-12'>
        <div class='panel'>
            <div class='panel-heading ml15 mr15 with-border'>
                <h4>Timelogs</h4>
            </div>
            <%= react_component 'ContractorTimelog' %>
        </div>
    </div>
</div>