img.avatar-image {
    @include border-radius($round);
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated; 
}

img.company-avatar{
    @include border-radius($round);
    border: 2px solid $blue;
    height: 100px;
    width: 100px;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated; 
    &.for-saved-jobs{ height: 85px; width: 85px }
}

img.applicant-avatar{
    border: 1px solid $blue;
    height: 70px;
    width: 70px;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated; 
    //margin-top: 20%;
}