.actions{
    padding-top: 15px;
    padding-bottom: 15px;    
    .signup-btn{
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .btn-signup, .btn-login{
        background-color: $main-color; 
        width: 100%;
        &:hover{
            background-color: lighten($main-color, 10%);
            transition: 0.5s;
        }

        height: 50px;
    }
}

.btn.btn-primary{
    &.pull-right{        
        float: right;        
    }
    &.table-btn, &.modal-btn, &.add_fields {
        font-size: 11px;
        font-family: 'Noto Sans', sans-serif;
        background-color: $blue;
        &:hover{
            background-color: $main-color;
            transition: 0.5s;
        }
    }
    &.transparent{
        color: $main-color;
        font-size: 11px;
        font-family: 'Noto Sans', sans-serif;
        background-color: transparent;
        &:hover{
            color: $white;
            background-color: $blue;
            transition: 0.5s;
        }
    }
    &.modal-cancel{
        font-size: 11px;
        font-family: 'Noto Sans', sans-serif;
        background-color: transparent;
        border: none;
        color: tomato;
        &:hover {
            background-color: tomato;
            color: $white;
            transition: 0.5s;
        }
    }
    &.full-width{
        width: 100%;
        left: -5px;
        right: -5px;
        bottom: -5px; 
        height: 40px;
    }
}
span.action-gap{
    padding-left: 1em;
    padding-right: 1em;
}

.remove_fields{
    font-size: 11px;
    font-family: 'Noto Sans', sans-serif;
    background-color: transparent;
    border: none;
    color: tomato;
    float: right;
}