.actions{
    padding-top: 15px;
    padding-bottom: 15px;    
    .signup-btn{
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .btn-signup, .btn-login{
        background-color: $main-color; 
        width: 100%;
        &:hover{
            background-color: lighten($main-color, 10%);
            transition: 0.5s;
        }

        height: 50px;
    }
}

.btn.btn-primary{
    &.inline{ display: inline-block }
    &.pull-right{        
        float: right !important;
        position: normal;       
    }

    &.company-edit{
        font-size: 14px;
        background-color: transparent; 
        width: 100%;
        color: $main-color;
        &:hover{
            background-color: lighten($main-color, 10%);
            color: $white;
            transition: 0.5s;
        }
        height: 40px;
        margin-right: 20px;
    }

    &.btn35{ height: 35px }
    &.table-btn, &.modal-btn, &.add_fields {
        font-size: 11px;
        font-family: 'Noto Sans', sans-serif;
        background-color: $blue;
        &:hover{
            background-color: $main-color;
            transition: 0.5s;
        }
    }

    &.remove-resume{
        padding: 10px 10px;
        font-size: 15px;
    }
    &.transparent{
        border: none;
        color: $main-color;
        font-size: 11px;
        font-family: 'Noto Sans', sans-serif;
        background-color: transparent;
        &:hover{
            color: $white;
            background-color: $blue;
            transition: 0.5s;
        }
    }
    &.modal-cancel{
        font-size: 11px;
        font-family: 'Noto Sans', sans-serif;
        background-color: transparent;
        border: none;
        color: tomato;
        &:hover {
            background-color: tomato;
            color: $white;
            transition: 0.5s;
        }
    }
    &.full-width{
        font-size: 15px;
        width: 100%;
        left: -5px;
        right: -5px;
        bottom: -5px; 
        height: 40px;
    }
    &.rel-width{
        font-size: 13px;
        padding: 10px 30px;
    }
    &.hide { visibility: hidden }
}
span.action-gap{
    padding-left: 1em;
    padding-right: 1em;
}

.remove_fields{
    font-size: 11px;
    font-family: 'Noto Sans', sans-serif;
    background-color: transparent;
    border: none;
    color: tomato;
    float: right;
}
