.signup-container{
    p {
        padding-bottom: 10px;
        padding-top: 10px;
        font-size: 15px ;
        color: lighten($font-grey, 10%);
    }
}

.devise-form{
    @include background-tile;
	-webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
    
    color: lighten($font-grey, 15%);
    .form-control{
        color: lighten($font-grey, 15%);
        &.login{
            padding: 10px 15px 10px 15px;
            font-size: 15px; 
            height: 45px;
        }
    }
    label.remember{ font-size: 11px }
    .forgot-password{
        float: right;
    }
}

.form-control{
    //position: relative;
    &.pull-right{ display: inline-block }
    &.with-border{ border: 1px solid $main-color }
    z-index: -1;
}

.input-group{
    &.pull-right{ float: right }
    &.mr20{ margin-right: 20px }
    &.pt30{ padding-top: 30px }
}

input.with-border{
    border: 1px solid $main-color 
}