img.img-responsive{
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated; 
    &.full{
        height: 267px;
        width: 100%;
        background: lighten(grey, 30%);
        border-bottom: 1px solid grey;
        z-index: -1;
    }
    &.profile-avatar{
        border: 1px solid $blue;
        height: 150px;
        width: 150px;
    }
}
