.panel{
    li.job-item{
        h4 { cursor: pointer; color: $main-color }
        color: grey;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 500px;
        list-style: none;
        min-height: 100px;
        position: relative;
        padding: 20px 20px 20px 20px;
        border-bottom: 1px solid lighten(grey, 30%);
        &:hover, &.active{ background-color: lighten(grey, 45%) }
        p { font-size: 12px }
        div.count{
            background-color: darken(tomato, 20%);
            color: $white;
            height: 15px;
            width: 10px;
            margin-left: 3px;
            font-size: 11px;
            position: relative;
            top: 5px;
            right: 5px;
            float: right;
        }
    }

    h5.form-header{ color: grey; font-family: 'Noto Sans', sans-serif; }
    img.company-dp{
        position: absolute;
        height: 110px;
        width: 110px;
        border: 3px solid $blue;
        top: 240px;
        left: 30px;
        background: white;
    }

    img.company-profile-avatar{
        position: absolute;
        height: 130px;
        width: 130px;
        border: 3px solid $blue;
        margin-left: 4%;
        margin-top: -107px;
        background: white;
    }

    h5.comp-header{
        font-family: 'Patua One', sans-serif;
        color: $main-color;  
        &.pl20 { padding-left: 20px }
        &.fs25 { font-size: 25px }
        &.fs20 { font-size: 20px }
        &.fs18 { font-size: 18px }
        &.fs16 { font-size: 16px }
        padding-bottom: 5px;
    }
    div.company-preview{
        font-size: 12px;
        color: darken(grey, 15%);
        li { list-style: disc }
        justify-content: flex-start;
    }

    p.form-paragraph{
        font-size: 12px;
        font-weight: 600;
        color: darken(grey, 15%);
    }
    a.form-paragraph{
        font-family: 'Noto Sans', sans-serif;        
        font-size: 15px;
        color: darken($light-blue, 35%);
    }
    li.list-button{
        cursor: pointer;
        margin: 10px;
        font-family: 'Noto Sans', sans-serif;
        font-size: 12px;
        &:hover{
            text-decoration: underline;
            color: $main-color;
        }
        &.new{
            font-weight: 700;
            color: $main-color;
            span.new-notif{
                border-radius: 50%;
                padding: 3px 6px;
                background: darken(tomato, 20%);
                color: white;
                font-family: 'Noto Sans', sans-serif;
                font-size: 9px;  
                margin-left: 5px;
                display: inline-block;       
            }
        }
    }
    label.info{
        padding: 10px;
        background-color: lighten(lightgreen, 15%);
        color: darken(lightseagreen, 10%);
        font-family: 'Noto Sans', sans-serif;
        font-weight: 600;
        font-size: 13px;        
    }
}