.row{
    &.m70{
        margin-top: 70px;
        margin-bottom: 70px;
    }
    &.mb50{ margin-bottom: 50px }

    &.pb20{
        padding-bottom: 20px;
    }
    &.pb15{
        padding-bottom: 15px;
    }
    &.pt20{
        padding-top: 20px;
    }
    &.ml15{
        margin-left: 15px;
    }
    &.ml25{
        margin-left: 25px;
    }
    &.ml20 { margin-left: 20px }
    &.mr20{ margin-right: 20px }
    &.pt20 { padding-top: 20px }
    &.pt10 { padding-top: 10px }
    &.with-bottom-border{ border-bottom: 1px solid lighten(gray, 25%) }
    &.with-top-border{ border-top: 1px solid lighten(gray, 25%) }
}

.col{
    label.pull-right{ float: right }
}

.form-group{

    &.pd5 { padding-bottom: 5px }
}

.text-center{
    &.mb05{
        margin-top: 10px;
        margin-bottom: 25px;
    }
}
span.gap3{
    padding-left: 3em; 
    &.with-text{
        padding-left: 3em;
        color: gray;
        font-weight: bold;
        font-size: 13px; 
    }
}
span.gap1{
    padding-left: 1em
}

span.gap1-right{ padding-right: 1em }

span.gap-left50{
    margin-left: 30%;
    &.with-text{
        padding-left: 3em;
        color: gray;
        font-weight: bold;
        font-size: 13px; 
    }
}
