.row{
    &.m70{
        margin-top: 70px;
        margin-bottom: 70px;
    }
    &.mt30 { margin-top: 30px }
    &.mb50{ margin-bottom: 50px }
    &.pb10{ margin-bottom: 10px }
    &.pb20{ padding-bottom: 20px }
    &.mb20 { margin-bottom: 20px }
    &.pb15{ padding-bottom: 15px }
    &.pt10{ padding-top: 10px }
    &.pt20{ padding-top: 20px }
    &.ml15{ margin-left: 15px }
    &.p10{ padding: 10px }
    &.ml25{ margin-left: 25px }
    &.h90{ height: 90px }
    &.h120{ height: 20% }
    &.ml20 { margin-left: 20px }
    &.mr15 { margin-right: 15px }
    &.mr20{ margin-right: 20px }
    &.pt35 { padding-top: 35px }
    &.pt10 { padding-top: 10px }
    &.pt20 { padding-top: 20px }
    &.pl10 { padding-left: 10px }
    &.pr10 { padding-right: 10px }
    &.with-border{ border: 1px solid lighten(gray, 25%); &:hover{ background-color: lighten($light-blue, 20%)}}
    &.with-bottom-border{ border-bottom: 1px solid lighten(gray, 25%) }
    &.with-top-border{ border-top: 1px solid lighten(gray, 25%) }
    &.bordered{ border-top: 1px solid lighten(gray, 25%); border-bottom: 1px solid lighten(gray, 25%); }
    &.full-border{ border: 1px solid lighten(gray, 25%); padding: 10px; }
    &.bordered-bottom { border-bottom: 1px solid lighten(gray, 25%) }
}

.col{
    label.pull-right{ float: right }
}

.form-group{
    &.pt5 { padding-top: 5px }
    &.pd5 { padding-bottom: 5px }
}

.text-center{
    &.mb05{
        margin-top: 10px;
        margin-bottom: 25px;
    }
}
span.gap3{
    padding-left: 3em; 
    &.with-text{
        padding-left: 3em;
        color: gray;
        font-weight: bold;
        font-size: 13px; 
    }
}
span.gap1{
    padding-left: 1em;
    padding-bottom: 1em;
}

span.gap1-right{ padding-right: 1em }

span.gap-left50{
    margin-left: 30%;
    &.with-text{
        padding-left: 3em;
        color: gray;
        font-weight: bold;
        font-size: 13px; 
    }
}

div.pull-right{
    float: right!important
}
