.panel{
    border-radius: 0px;
    width: 100%;
    &.pdr25{
        margin-right: 25px;
        padding-right: 25px;
    }
    position: relative;
    //box-shadow: 3px 3px 3px 3px rgba(0, 82, 97, 0.48);

    .panel-heading{
        padding: 20px;
        border-bottom: 1px $font-grey;
        &.ml15 { margin-left: 15px }
        &.mr15 { margin-right: 15px }
        &.with-border{
            border-bottom: 1px solid gray;
        }
    }

    label.panel-label{
        font-family: 'Noto Sans', sans-serif;
        color: $font-grey;
        font-size: 13px;
        font-weight: 100px;
        padding-bottom: 5px;
        padding-top: 5px
    }

    .panel-body{
        &.mt25{ margin-top: 25px }
        &.mb25{ margin-bottom: 25px }
    }

    div.display{
        height: 50px;
        &.hide { visibility: hidden }
        &.show { visibility: visible }
    }

    p.job-title{ font-weight: bold }

    .post-form-panel {
        margin-bottom: -21px;
    }
    .panel-image img.panel-image-preview {
        width: 100%;
        border-radius: 4px 4px 0px 0px;
    }
    
    .panel-image ~ .panel-body, .panel-image.hide-panel-body ~ .panel-body {
        overflow: hidden;
    }
    .panel-image ~ .panel-footer a {
        padding: 0px 10px;
        font-size: 1.3em;
        color: rgb(100, 100, 100);
    }
    .panel-image.hide-panel-body ~ .panel-body {
        height: 0px;
        padding: 0px;
    }
    .panel-footer {
        background-color: white;
    }
    .post-panel {
        margin-top: -21px;
    }
    li.skill-item{
        font-weight: 20px;
        font-size: 15px;
    }
}