table {
    border-collapse: collapse;
    max-height: 500px;
    overflow: auto;
    th { 
        font-family: 'Noto Sans', sans-serif;
        background: $main-color; 
        color: white; 
        font-size: 12px;
        text-align: center;
    }
    a {
        cursor: pointer;
        &:hover{
            text-decoration: none;
            color: $main-color;
        }
    }
    tr.company-row{
        padding: 5px;
        &:hover{
        background-color: lighten($light-blue, 20%);
        color: $main-color;       
        }
    }
    td { 
        color: $main-color;
        text-align: center; 
        font-size: 13px;
    }
}
ul li{
    list-style: none;
    a.see-more-table{
        cursor: pointer;		
        margin-left: 40%;
        font-weight: 900;
        color: $main-color;
        text-decoration: none;
    }

} 
