@mixin box_sizing {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
  }
  
@mixin background-tile {
    @include box_sizing;
    margin-top: 10%;	
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 6px #ccc;
    padding: 1.5em 1.25em;
}

@mixin border-radius($radius) {
    border-radius: $radius;
}