$background: rgba(212, 216, 212, 0.25);
$font-grey: #494949;
$blue: #1D75A1;
$twitter-blue: #00aced;
$white: #ffff;
$light-blue: #86D9FF;
$font-black: #202122;
$main-color: #184e70;

$round: 50%;
$button: 20px;