<div class='row m70'>
    <div class='col-lg-10 col-lg-offset-1'>
        <div class='panel'>
            <div class='panel-heading ml15 mr15 with-border'>List of Inquiries</div>
            <%= react_component 'Inquiries' %>
        </div>
    </div>
</div>