<div class="row">    
    <div class='sidebar'>
        <ul>
            <li id="toggle-btn"><button class='sidebar-btn'><span></span></button></li>
            <li class='<%= which_link?('pages')%>'><a href="/" class="menu-link"><i class="fa fa-tachometer fa-lg" aria-hidden="true"><span>Dashboard</span></i></a></li>
            <li class='<%= which_link?('applicants')%>'><a href="/applicants" class="menu-link"><i class="fa fa-list-alt fa-lg" aria-hidden="true"><span>Applicants</span></i></a></li>
            <li class='<%= which_link?('jobs')%>'><%= link_to '<i class="fa fa-file-text-o fa-lg" aria-hidden="true"><span>Job Orders</span></i>'.html_safe, jobs_path(current_user.company.slug), class: 'menu-link' %></li>
        </ul>
    </div>
</div>